.fiu-wrapper:after {
  content: " ";
  display: block;
  width: 1px;
  height: 1px;
  clear: both;
}

.fiu-wrapper > .messages {
  float: none;
}

.fiu-add-element {
  position: relative;
  float: left;
  width: 180px;
  height: 130px;
  margin: 5px;
  background-color: #eee;
}

.fiu-add-element .form-item .description {
  display: none;
  position: absolute;
  bottom: calc(100% + 15px);
  left: 50%;
  width: 100%;
  margin: 0;
  padding: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .25);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 12px;
  transform: translateX(-50%);
  z-index: 99;
}

.fiu-add-element .form-item .description:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 0;
  height: 0;
  margin: 0;
  border: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, .8);
  transform: translateX(-50%);
}

.fiu-add-element:hover .description {
  display: block;
}

.fiu-add-element input[type="file"] {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

.fiu-add-element .form-type-managed-file {
  height: 130px;
  margin: 0;
  position: relative;
  width: 100%;
}

.fiu-add-element .form-type-managed-file label {
  align-items: center;
  background-color: #eee;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 1.25em;
  font-weight: 700;
  height: 130px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fiu-add-element .form-type-managed-file--advanced label {
  font-size: 1em;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:before {
    content: "";
    background-image: url(../icons/upload.svg);
    background-repeat: no-repeat;
    background-size: 33px;
    display: flex;
    height: 28px;
    margin-left: 30px;
  }
}

.fiu-add-element .form-type-managed-file--advanced {
  .fiu-image-info ~ label {
    display: none;
  }
}

.fiu-add-element .form-type-managed-file--advanced.is-dragover label {
  background-color: #ddd;
}

.fiu-add-element:focus label,
.fiu-add-element label:hover {
  outline: none;
}

.fiu-add-element label * {
  pointer-events: none;
}

.field--widget-fine-image .messages--status,
.fiu-add-element .messages,
.fiu-wrapper .fiu-image-info {
  display: none;
}

.mfp-inline-holder .mfp-content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: stretch;
  width: 90%;
  height: 70%;
  transform: translate(-50%, -50%);
}

.fiu-full-image {
  position: relative;
  width: 100%;
}

.fiu-full-image .mfp-close {
  right: 20%;
  margin: 10px;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .25);
  color: #fff;
  font-size: 28px;
  line-height: 32px;
}

.fiu-full-image img {
  display: block;
  width: 80%;
  height: auto;
  object-fit: cover;
  float: left;
}
.fiu-img-description {
  width: 20%;
  float: left;
}
.mfp-content .inner-fiu-full-image ul {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
  color: #ddd;
}
.inner-fiu-full-image .attr {
  margin: 0 0 0 30px;
  display: block;
}
.inner-fiu-full-image .attr label {
  color: #eee;
}
.inner-fiu-full-image .attr .description {
  color: #ddd;
}
.item-list ul.fiu-sortable-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item-list ul.fiu-sortable-list li {
  float: left;
  width: 180px;
  height: 150px;
  margin: 5px;
  list-style: none;
}

ul.fiu-sortable-list li > .form-type-select {
  display: none;
}

.fine-image-widget {
  position: relative;
}

.fine-image-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 130px;
  border: 1px solid #eee;
  background: #fafafa;
}

.fine-image-preview img {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.fine-image-data {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fiu-broken-file input.form-submit[id*="remove-button"],
.fine-image-data .button[id*="remove-button"],
.fiu-image-details {
  display: inline-block;
  width: 24px;
  height: 24px;
  min-width: unset;
  margin: 0 10px;
  padding: 0;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  box-shadow: none;
  background: rgba(0, 0, 0, .25) center no-repeat;
  background-size: 16px;
  text-indent: 100%;
  cursor: pointer;
  opacity: .8;
}

.fiu-broken-file input.form-submit[id*="remove-button"]:hover,
.fine-image-data .button[id*="remove-button"]:hover,
.fiu-image-details:hover {
  opacity: 1;
}

.fiu-broken-file input.form-submit[id*="remove-button"],
.fine-image-data .button[id*="remove-button"] {
  background-image: url('../icons/close.svg');
}

.fiu-image-details {
  background-image: url('../icons/magnify.svg');
}

.fiu-progress-wrapper {
  position: absolute;
  top: -10px;
  height: 130px;
  width: 180px;
  text-align: center;
  background: #ccc;
}

.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 40px auto;
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0, 0, 0, 1) solid;
  border-top: 4px rgba(255, 255, 255, 1) solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
  display: inline-block;
}
@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.fiu-load-image .form-item {
  margin: 0;
}
.fiu-load-image.fiu-add-element label,
.fiu-load-image .fiu-image-details {
  display: none;
}
.fiu-load-image.fiu-add-element .fine-image-widget {
  display: block;
}

/* Single element style */
.unitary-element .fiu-add-element {
  float: none;
  width: 100%;
  height: auto;
  background-color: unset;
}
.unitary-element .form-item {
  position: relative;
  width: 180px;
  height: 130px;
  margin: 5px;
}
.unitary-element .fiu-add-element div[id^="ajax-wrapper"] .fine-image-widget.fiu-single-item {
  display: block;
}
.unitary-element .fiu-add-element div[id^="ajax-wrapper"] .form-item {
  width: 180px;
  height: 150px;
}
.unitary-element .messages--error {
  display: block;
}
.fiu-broken-file .fiu-image-details {
  width: 0;
  height: 0;
  background: none;
  border: none;
}
.fiu-broken-file .fine-image-preview {
  color: black;
  font: 80px/100% arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  background: #eee;
  text-align: center;
  line-height: 130px;
}
.fiu-broken-file .fine-image-preview:after {
  content: '✖';
}
.fiu-broken-file .fine-image-preview img {
  display: none;
}

.fiu-broken-file input[type="file"],
.fiu-broken-file .form-type-checkbox {
  display: none;
}

/* Add integration with IMCE. */
.fiu-wrapper .imce-filefield-widget {
  position: absolute;
  top: 5px;
  text-align: center;
  width: 100%;
}
.fiu-wrapper .fiu-load-image. .imce-filefield-widget {
  display: none;
}

/* Add integration with filefield_sources module. */
.fiu-wrapper .filefield-sources-list {
  position: absolute;
  top: 85px;
  text-align: center;
  z-index: 99;
  width: 100%;
  font-size: 11px;
  line-height: 13px;
}

/* Hide some sources. */
.fiu-wrapper .filefield-sources-list .filefield-source-imce,
.fiu-wrapper .filefield-sources-list .filefield-source-attach,
.fiu-wrapper .filefield-sources-list .filefield-source-clipboard {
  display: none;
}

.fiu-wrapper .filefield-sources-list a {
  display: inline-block;
  margin: 0 2px;
}

.fiu-wrapper .filefield-source.filefield-source-remote.clear-block,
.fiu-wrapper .filefield-source.filefield-source-reference.clear-block {
  position: absolute;
  left: 0;
  width: 170px;
  top: -10px;
  background: #eee;
  padding: 10px 5px;
}

.fiu-wrapper .filefield-source.filefield-source-remote.clear-block .field-suffix,
.fiu-wrapper .filefield-source.filefield-source-reference.clear-block .field-suffix {
  text-align: center;
  width: 160px;
  display: inline-block;
  margin: 5px 0px;
}

.fiu-wrapper .unitary-element .filefield-source.clear-block > .form-item {
  width: 100% !important;
  margin: 0;
}

.fiu-wrapper .filefield-source-remote .ajax-progress-bar {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 999;
  background: #eee;
}

.fiu-wrapper .filefield-source input[type="text"]{
  width: 160px;
}

.fine-image-file-name {
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
}

.fine-image-file-name span {
  padding: 2px 5px;
  display: inline-block;
}

.fine-image-widget:hover .fine-image-file-name,
.fine-image-widget:hover .fine-image-file-name span {
  overflow: visible;
  display: inline-block;
  position: relative;
  z-index: 99;
}

.fine-image-widget:hover .fine-image-file-name span {
  background: gainsboro;
}
